<div>
    <div>

        <mat-card>
            <mat-card-header>
                <h2>Transfer Auth</h2>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="profileForm1" (ngSubmit)="onSubmit1()">

                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="batchId"
                    type="text"
                    formControlName="batchId"
                  />
                </mat-form-field>
                <br />

                <mat-label>From</mat-label>
                <mat-select formControlName="from">
                  <mat-option value="Grower">Grower</mat-option>
                  <mat-option value="Trader">Trader</mat-option>
                  <mat-option value="Shipper">Shipper</mat-option>
                  <mat-option value="Retailer">Retailer</mat-option>
                  <mat-option value="Regulator">Regulator</mat-option>
                  </mat-select>
                <br />

                <mat-label>To</mat-label>
                <mat-select formControlName="to">
                  <mat-option value="Grower">Grower</mat-option>
                  <mat-option value="Trader">Trader</mat-option>
                  <mat-option value="Shipper">Shipper</mat-option>
                  <mat-option value="Retailer">Retailer</mat-option>
                  <mat-option value="Regulator">Regulator</mat-option>
                  </mat-select>
                <br />

                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="From IoT"
                    type="text"
                    formControlName="fromIoT"
                  />
                </mat-form-field>
                <br />
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="To IoT"
                    type="text"
                    formControlName="toIoT"
                  />
                </mat-form-field>
                <br />

                <button mat-raised-button color="primary" type="submit">
                  Transfer
                </button>
              </form>
            </mat-card-content>
            <mat-card-content>

              <button mat-raised-button color="primary" (click)="demo()">
                Temp Demo
              </button>

              <button mat-raised-button color="primary" (click)="demo1()">
                  Solution demo
                </button>

            </mat-card-content>
            </mat-card>

    </div>
  </div>
